$color_primary: #1fb3e1;

body {
  font-family: 'lato', sans-serif;
}

#rankings_table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px auto;
	font-size: 0.75rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	max-width: 600px;

	 & thead tr{
		background-color: $color_primary;
		color: #ffffff;
		text-align: left;
	 }

	 & th {
		padding: 1em;
	 }
	 & td {
		padding: .7em .9em;
	 }

	 & tbody tr {
    	border-bottom: thin solid #dddddd;
	}

	& tbody tr:nth-of-type(even) {
    	background-color: #f3f3f3;
	}

	& tbody tr:last-of-type {
    	border-bottom: 2px solid $color_primary;
	}
}

@media (min-width: 500px) {
	#rankings_table {
		font-size: .9rem;
	}
}

@media (min-width: 750px) {
	#rankings_table {
		font-size: 1rem;
	}
}